# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Virtual environments
env/
venv/
.venv/
ENV/
.conda/
*.conda

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm / VSCode / other IDEs
.idea/
.vscode/
*.code-workspace

# MyPy, Pyre, etc.
.mypy_cache/
.pyre/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Test & profiling
.tox/
.nox/
.pytest_cache/
*.prof
*.log

# System files
.DS_Store
Thumbs.db

# Backup files
*~
*.swp
*.bak

#Dataset
/russellmitchell
/collected_logs
/collected_flows
/embeddings_cache
/enterprise-attack-v17.1.csv
/IOT_Flow